html, body {
	margin: 0;
	padding: 0;
	color: #f5f5f5!important;
	background-color: #1f2933!important;
}
 
.no-padding-margin {
	padding: 0!important;
	margin: 0!important;
}
 
/* Header */
header {
	background: linear-gradient(90deg, #004d99, #007acc);
	padding: 20px;
	text-align: center;
}
 
header h1,
header h1 a {
	color: #ffffff;
	margin: 0;
	text-decoration: none;
}
 
/* Contenedor Principal */
.contenedor-principal {
	height: calc(100vh - 88px);
	overflow: hidden;
}
 
/* Menú Lateral */
.div-menu-lateral {
	background: #243242;
	border-right: 2px solid #2d4a62;
}

.menu-lateral {
	padding: 20px;
}
 
.menu-lateral ul {
	list-style-type: none;
	padding: 0;
}
 
.menu-lateral li {
	margin: 10px 0;
}
 
.menu-lateral a {
	text-decoration: none;
	color: #66b3ff;
	font-weight: bold;
}
 
.menu-lateral a:hover {
	color: #ffffff;
}
 
.menu-lateral .inicio {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #2d4a62;
	text-transform: uppercase;
}
 
.menu-lateral .inicio a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
 
.menu-lateral .inicio a:hover {
	color: #66b3ff;
}
 
/* Contenido Principal */
.contenido-principal {
	padding: 20px;
	background: linear-gradient(180deg, #1f1f1f, #2a2a2a);
	height: 100%;
}
 
.contenido-principal iframe {
	width: 100%;
    overflow-x: hidden;
	height: 100%;
	border: 0;
}

.contenido-principal h2 {
	color: #66b3ff;
	margin-bottom: 20px;
}
 
/* Entradas */
.entrada {
	background: linear-gradient(180deg, #1e2a38, #2d4a62);
	padding: 15px;
	margin: 15px;
	border: 1px solid #66b3ff;
	border-radius: 8px;
}
 
.entrada img {
	width: 650px;
	height: auto;
	border-radius: 8px;
}
 
.entrada > div {
	border: 1px solid #66b3ff;
	border-radius: 8px;
	padding: 10px;
	margin-bottom:10px!important;
}
.entrada p {
	margin: 5px 0;
	color: #f5f5f5;
}
 
.entrada p strong {
	color: #66b3ff;
}
 
.habilidad {
	background: linear-gradient(180deg, #1e2a38, #2d4a62);
	padding: 15px;
	margin: 15px;
	border: 1px solid #66b3ff;
	border-radius: 8px;
	align-items: center; 
}

.habilidad > div > div:first-of-type {
	text-align: center;
}
 
.habilidad img {
	width: 110px;
	height: auto;
	border-radius: 8px;
	margin-top: 10px!important;
}
 
/* Entradas resumen */
.entrada-resumen {
	background: linear-gradient(180deg, #1e2a38, #2d4a62);
	padding: 15px;
	margin: 15px;
	border: 1px solid #66b3ff;
	border-radius: 8px;
	align-items: center; 
}
 
.entrada-resumen h2 {
	margin: 0;
}
 
.entrada-resumen h2 a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
 
.entrada-resumen h2 a:hover {
	color: #66b3ff;
}
 
.entrada-resumen img {
	width: 200px;
	height: auto;
	border-radius: 8px;
}
